/* App.js */
.background {
  overflow: scroll;
  height: 100vh;
  background-color: #343737;
}

.square-zone {
  display: grid;
  grid-template-columns: repeat(99, 80px);
  grid-template-rows: repeat(99, 80px);
  gap: 8px;
}

/* Square.js */
.square {
  background-color: #554C4C;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.coordinates {
  font-size: 10px;
}

/* WalletConnect.js */
.wallet-container {
  position: absolute;
  top: 20px;
  right: 10px;
}

/* .wallet-button {
  background-color: #F4F5F7;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  transition: transform 0.2s;
}

.wallet-button:hover {
  transform: scale(1.05);
} */

.profile{
  color: white;
  position: absolute;
  top: 20px;
  right: 10px;
}