/* App.js */
.background {
  overflow: scroll;
  height: 100vh;
  background-color: #343737;
}

.square-zone {
  display: grid;
  grid-template-columns: repeat(99, 80px);
  grid-template-rows: repeat(99, 80px);
  gap: 8px;
}

.profile-zone {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 200px;
  height: 250px;
  background-color: #ffffff;
  opacity: 0.9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Square.js */
.square {
  background-color: #554C4C;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center
}

.coordinates {
  color: white;
  font-size: 10px;
}

/* WalletConnect.js */
.wallet-container {
  position: absolute;
  top: 20px;
  right: 10px;
}

/* ProfileScreen.js */
.profile{
  color: black;
  font-size: 30px;
  position: absolute;
  top: 100px;
  right: 70px;
}

/* NFTs.js */

.nft-zone {
  display: flex;
  overflow-x: auto;
}

.nft-item {
  flex: 0 0 auto;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.nft-button {
  font-size: 12px;
  margin-top: 8px;
}

.nft-item:hover {
  transform: scale(1.3) translateZ(10px);
}

